@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

/*estilização da página principal*/
body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i:before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__notificacao i:before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__perfil {
    display: none;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    position: absolute;
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link {
    color: #95999C;
    height: 64px;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link:before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio:before {
    content: "\e902";
}

.menu-lateral__link--videos:before {
    content: "\e90e";
}

.menu-lateral__link--picos:before {
    content: "\e909";
}

.menu-lateral__link--integrantes:before {
    content: "\e903";
}

.menu-lateral__link--camisas:before {
    content: "\e900";
}

.menu-lateral__link--pinturas:before {
    content: "\e90a";
}

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-mais-vistos {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao__imagem {
    width: 100%;
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao__descricao {
    grid-column: span 2;
    line-height: 32px;
}

.cartao__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
    height: 48px;
}

.cartao__titulo--destaque {
    height: 24px;
    line-height: 24px;
}

.cartao__perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
    line-height: 24px;
}

.cartao__info {
    display: flex;
    align-items: center;
    color: #95999C;
    line-height: 24px;
}

.cartao__info--destaque {
    gap: 24px;
    grid-column: span 2;
}

.cartao__info-videos--tempo::before {
    content: "\e90c";
    margin-right: 4px;
    justify-self: center;
}

.cartao__info--visualizacao::before {
    content: "\e90f";
    margin-right: 4px;
}

.cartao__info-artes--valor::before {
    content: "\e905";
    margin-right: 4px;
}

.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

.cartao--recentes {
    display: none;
}

.mais-vistos {
    display: grid;
    gap: 16px;
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
    .cabecalho {
        background-color: #1D232A;
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 32px;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
    }

    .cabecalho__menu{
        display: none;
    }
    
    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
    }

    .cabecalho__perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after {
        content: "\e90d";
        color: #FFFFFF;
        font-size: 1.5rem;
    }
    
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 32px;
        row-gap: 24px;
        padding: 30px 58px 39px 63px;
        grid-column: 2;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-videos destaque-videos recentes-videos"
            "mais-vistos-videos mais-vistos-videos mais-vistos-videos"
            "recentes-artes destaque-artes destaque-artes"
            "mais-vistos-artes mais-vistos-artes mais-vistos-artes"
    }

    .titulo-pagina {
        grid-area: titulo-pagina;
    }
    
    .destaque-videos {
        grid-area: destaque-videos;
    }
    
    .recentes-videos {
        grid-area: recentes-videos;
    }
    
    .mais-vistos-videos {
        grid-area: mais-vistos-videos;
    }
    
    .destaque-artes {
        grid-area: destaque-artes;
    }
    
    .recentes-artes {
        grid-area: recentes-artes;
    }
    
    .mais-vistos-artes {
        grid-area: mais-vistos-artes;
    }
    
    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao__descricao {
        font-size: 1.125rem;
        line-height: 24px;
    }

    .cartao__titulo--destaque {
        font-size: 1.625rem;
        line-height: 32px;
        height: 32px;
    }

    .cartao__imagem--desktop {
        display: block;
    }
    
    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }

    .cartao--recentes {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        row-gap: 16px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
        height: 24px;
        line-height: 24px;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
        line-height: 24px;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
        align-self: flex-start;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 16px;
    }
    
    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 0.875rem;
        line-height: 24px;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.875rem;
        line-height: 24px;
        color: #95999C;
    }

    .mais-vistos {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        row-gap: 24px;
    }

    .titulo-mais-vistos {
        grid-column: span 4;
    }
}
/**/

/*estilização da página de picos*/
.mapa-picos {
    width: 100%;
}

.cartao__botao--localizar::before {
    content: "\e908";
    font-size: 24px;
}

@media screen and (min-width: 1440px) {
    .principal--picos {
        grid-template-areas:
        "titulo-pagina titulo-pagina titulo-pagina"
        "mapa-picos mapa-picos cartao-favoritos"
        "mais-visitados mais-visitados mais-visitados";
    }

    .mapa-picos {
        grid-area: mapa-picos;
    }

    .cartao--favoritos {
        grid-area: cartao-favoritos;
    }

    .mais-visitados {
        grid-area: mais-visitados;
    }
}